html
  head
    title= "Admin | Cameras"
  body
    h3= "Edit Cameras"

    table
      thead
        tr
          th= "id"
          th= "uuid"
          th= "currentLayout"
          th= "delete"
      tbody
        each camera in cameras
          tr
            td= camera.id
            td= camera.uuid
            td= camera.currentLayout
            td
              form(action="/camera/" + camera.id + "?_method=DELETE" method="POST")
                input(type="submit" value="Delete")

    h3= "Add a Camera"
    form(action="/cameras/create" method="POST")
      input(type="text" name="uuid" placeholder="uuid")
      input(type="submit" value="Submit")
