extends _wrapper.pug
include _mixins/vector_field.pug
include _mixins/frames.pug
include _mixins/pagination.pug

block content
  h3 Managing Layout "#{layout.title}"


  h3 Positions
  table
    thead
      th name
      th rotation
      th translation
      th id
      th camera_id
      th camera_uuid
    tbody
      - let i = 0;
      each position in layout.positions
        tr
          form(action=`/layout/${layout.id}/position/${position.id}?_method=PUT` method="POST")
            td= i
            td
              +vector_field("rotation", position.rotation)
            td
              +vector_field("translation", position.translation)
            td= position.id
            td= position.camera_id
            td= position.camera_uuid
            td
              input(type="submit" value="Update")
        - i++;

  br
  h4 Create a Position

  form(action=`/layout/${layout.id}/position` method="POST")
    table
      thead
        th Rotation
        th Translation
      tbody
        tr
          td
            +vector_field("rotation")
          td
            +vector_field("translation")
          td
            input(type="submit" value="Create")

  br

  hr

  h3 Captures
  a(href=`/layout/${layout.id}/capture/new`) Start a Capture
  br
  br
  +pagination(pageNum, (n) => `/layout/${layout.id}/page/${n}`)
  br
  each captureId in Object.keys(captures).sort((a, b) => b - a)
    div
      a(href=`/layout/${layout.id}/capture/${captureId}` style="display: block;") Capture #{captureId}
      br
      +frames(captures[captureId])
      hr
      br

  br
  +pagination(pageNum, (n) => `/layout/${layout.id}/page/${n}`)
  br
